spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_db
    username: expense_user
    password: expense_pass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true

server:
  port: 8080
